[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
apscheduler = "*"
boto3 = "*"
trading-ig = {ref = "quick_fix", git = "https://github.com/zansibal/ig-markets-api-python-library.git"}
pyyaml = "*"
munch = "*"
tenacity = "*"
watchtower = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.8"
